# channels
UC-lHJZR3Gqxm24_Vd_AJ5Yw # pewdiepie
## view online: https://www.youtube.com/playlist?list=UU-lHJZR3Gqxm24_Vd_AJ5Yw

# playlists
PLlRceUcRZcK0E1Id3NHchFaxikvCvAVQe # jim sterling: the jimquisition
## view online: https://www.youtube.com/playlist?list=PLlRceUcRZcK0E1Id3NHchFaxikvCvAVQe
